<ul class='planning'>
  <li>Manage Students</li>
  <li><%= link_to 'Manage Courses', courses_path %></li>
  <li><%= link_to 'Manage Class Periods', class_periods_path%></li>
  <li>Manage Teachers</li>
</ul>
