<div class='panel panel-primary'>
  <div class='panel-heading'>
    <div class='panel-title'>
      <h1><%= class_period_short_label @class_period %></h1>
    </div>
  </div>
  <div class='panel-body'>
    <span><%= taught_by_teachers(@class_period) %></span>
  </div>
</div>

<div class='panel panel-primary list-panel'>
  <div class='panel-heading'>
    <div class='panel-title'>
      <h2>Students</h2>
    </div>
  </div>
  <div class='panel-body'>
    <ul class='students list-group'>
      <% @class_period.students.each do |student| %>
        <li class='list-group-item'><%= student.display_name %></li>
      <% end %>
    </ul>
  </div>
</div>
