<div class='welcome guest'>
  <%= render partial: 'shared/jumbo',
                      locals: {
                      jumbo_text: "Sorry, we don't know you!",
                      sub_text: 'Please contact whoever is in charge to be given access.' } %>
</div>

