<div class='welcome student'>
  <% if @welcome.class_periods.present? %>
    <div class='class-periods list-group'>
      <% @welcome.class_periods.each do |class_period| %>
        <%= link_to(class_period_short_label(class_period),
                    playbook_path(unit_id: @welcome.student.settings(:prefs).current || class_period.units.first,
                                  class_period_id: class_period.id,
                                  student_id: @welcome.student.id),
                    class:'class-period list-group-item clearfix') %>
      <% end %>
    </ul>
  <% else %>
    <%= render partial: 'shared/jumbo',
                        locals: {
                        jumbo_text: 'No Classes?',
                        sub_text: 'Talk to a teacher to get into a class.' } %>
  <% end %>
</div>
