<div class='welcome teacher'>
  <span>Welcome, <%= @welcome.teacher.first_name %></span>
  <ul class='class-periods'>
    <% @welcome.teacher.class_periods.each do |class_period| %>
      <li class='class-period'><%=teacher_class_period(class_period)%></li>
    <% end %>
  </ul>
</div>

<% #show last teacher unit view %>
