<div class='row welcome teacher'>
  <% if @welcome.teacher.class_periods.present? %>
    <div class='col-xs-12 col-md-6'>
      <div class='h4'>Class Periods You're Teaching</div>
      <div class='class-periods list-group'>
        <% @welcome.teacher.class_periods.each do |class_period| %>
          <%= link_to(class_period_short_label(class_period),
                      gradebook_path(class_period),
                      class:'class-period list-group-item clearfix') %>
        <% end %>
      </div>
    </div>
    <div class='col-xs-12 col-md-6'>
      <div class='h4'>Manage Units</div>
      <div class='units list-group'>
        <% @welcome.manageable_units.each do |unit| %>
          <%= link_to(unit.name, unit_path(unit), class:'unit list-group-item') %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render partial: 'shared/jumbo',
                        locals: {
                        jumbo_text: 'Not teaching any classes?!',
                        button_text: 'Teach Something',
                        url: class_periods_url } %>
  <% end %>
</div>
