<div class='welcome teacher'>
  <span>Welcome, <%= @welcome.teacher.first_name %></span>
  <ul class='class-periods'>
    <% @welcome.teacher.class_periods.each do |class_period| %>
      <li class='class-period'>
        <%= link_to(class_period_short_label(class_period), gradebook_path(class_period)) %>
      </li>
    <% end %>
  </ul>
</div>

<% #show last teacher unit view %>
