<h1><%= class_period_short_label @class_period %></h1>
<div><%= taught_by_teachers(@class_period) %></div>
<table class='gradebook'>
  <thead>
    <th class=''>Students</th>
    <th class='assignments-header'>Assignment</th>
  </thead>
  <tbody>
    <% @class_period.students.each do |student| %>
      <tr class='student row'>
        <td><%=student.display_name%></td>
      </tr>
    <% end %>
  </tbody>
</table>
