<h1>All Courses</h1>
<% if courses.present? %>
  <ul class='courses'>
  <% courses.each do |course| %>
    <li>
      <%= course %>
      <%= link_to 'edit', edit_course_path(course) %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>You don't have any courses</p>
<% end %>
