<p><%= link_to "Back to #{@unit.course.name}", course_path(@unit.course) %></p>
<h1><%= @unit %></h1>
<h2>Assignments</h2>
<ul class='assignments'>
</ul>
<p><%#= link_to 'Create a New Assignment', new_unit_assignment_path(@unit) %></p>
