body.gradebooks.show {
  table{
    font-size: $font-size-small;
  }

  .units-nav{
    margin-top: 110px;
  }

  .total-points, .percentage{
    text-align: center;
  }
  td.assignment {
    white-space: nowrap;
    padding: 3px;
  }
  form.class_assignment {
    .form-group{
      display: inline;
    }
    div.input {
      //display: inline;
    }
    .form-control{
      font-size: $font-size-small;
      height: 2em;
      display: inline;
      width: 24px;
      text-align: center;
      padding: 0;
    }
  }
  .greedy{
    width: 99%;
  }

  .assignments-header{
    .fa{
      color: #ccc;
    }
  }

  .overdue{
    background-color: $state-danger-bg;
    color: $state-danger-text;
  }

  th{
    &.name{
      min-width: 170px;
    }
    &.rotate {
      /* Something you can count on */
      height: 200px;
      white-space: nowrap;
    }

    &.rotate > div {
      transform:
      /* Magic Numbers */
      translate(0, 0)
      /* 45 is really 360 - 45 */
      rotate(270deg);
      width: 10px;
    }
    &.rotate > div > span {
      padding: 5px 10px 5px 0;
    }
  }
}
