body.gradebooks.show {
  .units-nav{
    margin-top: 110px;
  }

  td.name {
    width: 100px;
  }
  .total-points, .percentage{
    text-align: center;
  }
  td.assignment {
    white-space: nowrap;
    padding: 3px;
  }
  form.class_assignment {
    .form-group{
      display: inline;
    }
    div.input {
      //display: inline;
    }
    .form-control{
      display: inline;
      width: 24px;
      text-align: center;
      padding: 0;
    }
  }
  .greedy{
    width: 99%;
    background-color: white !important;
  }

  .assignments-header .fa-star{
    color: goldenrod;
  }

  th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;

  }

  th.rotate > div {
    transform:
    /* Magic Numbers */
    translate(0, 0)
    /* 45 is really 360 - 45 */
    rotate(270deg);
    width: 10px;
  }
  th.rotate > div > span {
    padding: 5px 10px 5px 0;
  }

  td{
    &.total-points{
      background-color: #ccc;
    }
    &.notes{
      background-color: green;
    }
    &.worksheet{
      background-color: red;
    }
    &.stars{
      background-color: orange;
    }
    &.ixl{
      background-color: blue;
    }
  }
}
