$green: #7A9F35;
.playbooks{
  .units-nav{
    margin-top: 8px;
  }

  td, th{
    text-align: center;

    &.name, &.assignment{
      text-align: left;
    }
  }

  .overdue{
    color: red;
  }

  .status{
    font-size: 18px;
    .trophy{
      display: none;
    }
    &.perfect{
      color: goldenrod;

      .trophy{
        font-size: 22px;
        display: block;
      }
      .battery{
        display: none;
      }
    }
  }
}
