$green: #7A9F35;
.playbooks{
  .units-nav{
    margin-top: 8px;
  }

  td, th{
    text-align: center;

    &.name, &.assignment{
      text-align: left;
    }
  }

  tr{
    &.perfect{
      color: $green;

      i.trophy{
        color: goldenrod;
        font-size: 22px;
        display: block;
      }
      .battery{
        display: none;
      }
    }
    &.overdue{
      color: red;
    }
    .status{
      font-size: 18px;
      .trophy{
        display: none;
      }
    }
  }

  .fa-ban{
    font-size: .9em;
    opacity: 0.5;
  }
}
