<div class="nav-bar">
  <% if user_signed_in? %>
    <span>Hi, <%= current_user.first_name %></span>
    <span><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %></span>
  <% else %>
    <span><%= link_to 'Sign In', new_user_session_path %></span>
    <span><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></span>
  <% end %>
</div>
